streamlit
python-dotenv
langchain
langchain_openai 
langchain_google_genai
langchain_groq
langchain_anthropic
langchain_community

# web search
duckduckgo_search
html2text
lxml[html_clean]
readability-lxml